body {font-family: Tahoma; font-size: 10px; color: #AAAA9C;}
font {font-family: Tahoma; font-size: 10px;}
.rubrik {font-family: Tahoma; font-size: 10px; color: #222222; font-weight: bold;}
.rubrik_skriven {color: #974625;}
.text {font-family: Tahoma; font-size: 10px; color: #AAAA9C;}

a:link { text-decoration: none; color: #DEDEDE;}
a:visited { text-decoration: none; color: #DEDEDE;}
a:active { text-decoration: none; color: #DEDEDE;}
a:hover { text-decoration: none; color: #2D2D2D;}
