<%
'##############ÄNDRA DETTA#############################
NyhetPerSida = 1                                   ' Antal nyhetsrubriker per sida
URL                 = "index.asp"                    ' Sidan du inkluderar news2.asp i
db = Server.MapPath("db/news.mdb")   ' Databasens sökväg
Width              = "200"                              ' Bredd på bilden
'#####################################################'
%>

<!--
##########################################
Gruvsjo Nyheter v3
Åsa Gruvsjö ©
www.gruvsjo.com
Asa@gruvsjo.com

Fri att använda om ni låter copyrightkoden stå kvar!
##########################################
-->

<table cellpadding="0" cellspacing="0" width="280" border="0">

<%Set Conn = Server.CreateObject("ADODB.Connection")
Conn.Open "Provider=Microsoft.Jet.OLEDB.4.0;Data Source=" & db

If Request.QueryString("ID") = "" Then

Set RecSet = Server.CreateObject("ADODB.Recordset")
Sidan = Request.QueryString("sida")
If Sidan = "" then
     sida = 1
Else
     sida = Sidan
End If

With RecSet
    .CursorLocation = 3
    .CacheSize = NyhetPerSida
End With

SQL = "SELECT * FROM news Order By id desc"
RecSet.Open SQL, Conn

If RecSet.EOF Then%>
     <tr>
        <td>Inga nyheter inlagda!</td>
     </tr>
<%Else

With RecSet
  .MoveFirst
  .PageSize = NyhetPerSida
  .AbsolutePage = sida
End With

Sidor =  RecSet.PageCount
x = 0
Do While Not RecSet.EOF And x < RecSet.PageSize%>
   <tr>
      <td width="48%"><b><%=RecSet("rubrik")%> - <%=FormatDateTime(RecSet("datum"),1)%> - (<%=FormatDateTime(RecSet("datum"),3)%>)</b></td>
   </tr>
   <tr>
      <td valign="top" colspan="2"><%If Len(RecSet("nyhet")) > 150 Then%><%=Left(RecSet("nyhet"),150)%>...<%Else%><%=RecSet("nyhet")%><%End If%></td>
   </tr>
   <tr>
      <td colspan="2"><b><a href="<%=URL%>?ID=<%=RecSet("ID")%>">Läs mer</a></b></td>
   </tr>

<%x=x+1
RecSet.MoveNext
Loop
RecSet.Close
If Sidor > 1 Then%>
  <tr>
     <td valign="top" colspan="2">
       <%For Sid = 1 To Sidor
               If (Int(Sid)) = (Int(sida)) Then%><b><%=Sid%></b><%Else%> <a href="<%=URL%>?sida=<%=Sid%>"><%=Sid%></a> <%End If
         Next%>
    </td>
  </tr>
<%End If
  End If
End If
If Request.QueryString("ID") <> "" Then
Set RS=Conn.Execute("Select * From news Where id=" & Request.QueryString("ID"))%>
<tr height="20">
<%If RS("bild") <> "" Then%>
<%End If%>


<td width="58%" colspan="2"><b><%=RS("rubrik")%></b>
</td>

<td colspan="2">
<%=FormatDateTime(RS("datum"),2)%> . (<%=FormatDateTime(RS("datum"),4)%>)
</td>

</tr>
<tr>
<td height="4" colspan="5">
</td>
</tr>
   <tr>
      <td valign="top" colspan="5" height="340"><%If Len(RS("nyhet")) > 150 Then%><%=Left(RS("nyhet"),150)%>...<%Else%><%=RS("nyhet")%><%End If%></td>


     </tr>
     <tr height="14">
        <td width="50"><a href="<%=URL%>">« Tillbaka</a></td>
        <td width="50" align="right"><a href="<%=URL%>">« Bakåt</a></td>
	<td width="100" align="center">[<a href="<%=URL%>">1</a> - <a href="<%=URL%>">2</a> - <a href="<%=URL%>">3</a> - <a href="<%=URL%>">4</a>]</td>
        <td width="50"><a href="<%=URL%>">Framåt »</a></td>
     </tr>
<%End If%>
</table>
