body
{
background-color: #CCCCCC;
margin-top: 15px;
color: black;
}

a:link { text-decoration: none; color: #000000}
a:visited { text-decoration: none; color: #000000}
a:active { text-decoration: none; color: #ffffff}
a:hover { text-decoration: none; color: #ffffff}

.table1 {
background: gray;
border: 0px solid;
width: 600px;
height: 100px;
}

.table2 {
border: 0px solid;
width: 600px;
height: 20px;
}
