.box1 {
font-family: Verdana;
font-size: 10px;
width: 98px;
height: 19px;
margin-left: 0px;
padding-left: 0px;
padding-top: 5px;
border: 0px solid;
text-align: left;
}

.box2 {
font-family: Verdana;
font-size: 10px;
width: 388px;
height: 288px;
margin-top: 0px;
margin-left: 0px;
padding-left: 10px;
padding-top: 10px;
border: 0px solid;
text-align: left;
}

.box3 {
font-family: Verdana;
font-size: 10px;
width: 96px;
height: 19px;
margin-left: 0px;
padding-left: 0px;
padding-top: 10px;
border: 0px solid;
text-align: center;
}

.box4 {
font-family: Verdana;
font-size: 10px;
width: 96px;
height: 33px;
margin-left: 0px;
padding-left: 0px;
padding-top: 5px;
border: 0px solid;
text-align: center;
}

.copyright {
font-family: Verdana;
font-size: 9px;
width: 100px;
height: 19px;
margin-left: 0px;
padding-left: 0px;
padding-top: 5px;
border: 0px solid;
text-align: center;
}
