.banner
{
position:absolute;
left: 44px;
top: 384px;
width: 140px;
heigh: 290px;
border: solid 1px #000000;
z-index:+1;
}

.logo
{
position:absolute;
left: 55px;
top: 55px;
width: 320px;
heigh: 120px;
z-index:+1;
}

.table
 {
left: 100px;
top: 100px;
width: 500px;
heigh: 500px;
border: 0px outset #000000;
color: black;
font-family: Tahoma;
font-size: 11px;
font-style: normal;
line-height: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
text-decoration: none;
background-color: #;
}

.box
{
padding: 5px;
left: 200px;
top: 100px;
height: 450px;
width: 450px;
background-color: #333333;
border: 2px solid #666666;
}
