body { background-color: #CECFC7; margin: 10px;}
a:link 		{color: #B0B0A2; text-decoration: none}
a:visited 	{color: #B0B0A2; text-decoration: none}
a:active 	{color: #B0B0A2; text-decoration: none}
a:hover 	{color: #E8E8DC; text-decoration: none}
INPUT 		{font-family: Verdana, sans-serif; font-size: 9px;}
SELECT 		{font-family: Verdana, sans-serif; font-size: 9px;}
TEXTAREA 	{font-family: Verdana, sans-serif; font-size: 9px;}
td 		{font-family: Verdana, sans-serif; font-size: 9px;}
div.color {color: #B0B0A2; font-family: Verdana, sans-serif; font-size: 9px;}
div.margin {margin-left: 22px; margin-right: 20px;  color: #B0B0A2; font-family: Verdana, sans-serif; font-size: 9px;}
div.margin-innehall {margin-left: 20px; margin-top: 37px; margin-right: 20px;  color: #B0B0A2; font-family: Verdana, sans-serif; font-size: 9px;}
div.margin-arkiv {margin-left: 5px;  color: #B0B0A2; font-family: Verdana, sans-serif; font-size: 9px;}
div.margin-arkiv-2 {margin-left: 10px; margin-right: 10px; margin-top: 27px; margin-bottom: 5px;  color: #B0B0A2; font-family: Verdana, sans-serif; font-size: 9px;}
div.margin-2 {margin-left: 4px; margin-right: 6px;}
div.margin-3 {margin-left: 4px; margin-right: 6px;}
div.margin-4 {margin-left: 4px; margin-right: 4px; margin-top: 20px; margin-bottom: 4px;}
div.margin-banners {margin-top: 25px; margin-bottom: 5px; margin-right: 5px; margin-left: 5px;}
.td-bg {background-color:#CCCCBB; color: #F0F0F0; border-top: 1px solid #D5D5C4; border-bottom: 1px solid #BEBEAE;}
.knapp { background-color: transparent; border: solid 1px #B2B2A4;}
