<div id="sidebar">
    <div id="title">
        <span class="big">
            BLOG ARCHIVE
        </span>
    </div>
    <div id="spacer"></div>
    <div id="text">
        <a href="" style="color: <?php echo $light; ?>;">2010</a><br />
        &nbsp; &nbsp;&raquo; <a href="">September (9)</a><br />
        &nbsp; &nbsp;&raquo; <a href="">Augusti (8)</a><br />
        &nbsp; &nbsp;&raquo; <a href="">Juli (7)</a><br />
        &nbsp; &nbsp;&raquo; <a href="">Juni (6)</a><br />
        &nbsp; &nbsp;&raquo; <a href="">Maj (5)</a><br />
        &nbsp; &nbsp;&raquo; <a href="">April (4)</a><br />
        &nbsp; &nbsp;&raquo; <a href="">Mars (3)</a><br />
        &nbsp; &nbsp;&raquo; <a href="">Rebruari (2)</a><br />
        &nbsp; &nbsp;&raquo; <a href="">Januari (1)</a><br />
        <a href="" style="color: <?php echo $light; ?>;">2009</a><br />
        &nbsp; &nbsp;&raquo; <a href="">December (12)</a><br />
        &nbsp; &nbsp;&raquo; <a href="">November (11)</a><br />
        &nbsp; &nbsp;&raquo; <a href="">Oktober (10)</a><br />
        &nbsp; &nbsp;&raquo; <a href="">September (9)</a><br />
        &nbsp; &nbsp;&raquo; <a href="">Augusti (8)</a><br />
        &nbsp; &nbsp;&raquo; <a href="">Juli (7)</a><br />
        &nbsp; &nbsp;&raquo; <a href="">Juni (6)</a><br />
        &nbsp; &nbsp;&raquo; <a href="">Maj (5)</a><br />
        &nbsp; &nbsp;&raquo; <a href="">April (4)</a><br />
    </div>
</div>