<div id="sidebar">
    <div id="title">
        <span class="big">
            INFO / LOGIN
        </span>
    </div>
    <div id="spacer"></div>
    <div id="text">
        This box needs something to be filled with..<br />
    </div>
</div>