<div id="sidebar">
    <div id="title">
        <span class="big">
            POLL
        </span>
    </div>
    <div id="spacer"></div>
    <div id="text" style="padding: 0px 5px 5px 5px; text-align: center;">
        How long can a poll question be?<br />
    </div>
    <div id="spacer" style="margin-bottom: -5px;"></div>
    <div id="sidebartext_poll">
        <input type="radio" name="pollvote" value="1"/>
        &raquo; Poll option #1
    </div>
    <div id="sidebartext_poll">
        <input type="radio" name="pollvote" value="1"/>
        &raquo; Poll option #2
    </div>
    <div id="sidebartext_poll">
        <input type="radio" name="pollvote" value="1"/>
        &raquo; Poll option #3
    </div>
    <div id="sidebartext_poll">
        <input type="radio" name="pollvote" value="1"/>
        &raquo; Poll option #4
    </div>
    <div id="sidebartext_poll">
        <input type="radio" name="pollvote" value="1"/>
        &raquo; Poll option #5
    </div>
    <div id="spacer"></div>
    <div id="text">
        <div align="left" style="padding: 0px 10px 0px 10px; margin-bottom: -12px;"><a href="" style="color: <?php echo $light; ?>;">Result</a></div>
        <div align="right" style="padding: 0px 10px 0px 10px;"><a href="" style="color: <?php echo $light; ?>;">Vote</a></div>
        <div align="center" style="margin: 5px 0px 0px 0px;"><a href="" style="color: <?php echo $light; ?>;">View older polls</a></div>
    </div>
</div>