<div id="preloader">
    <img src="<?php echo $social_img_1_hover; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $social_img_2_hover; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $social_img_3_hover; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $social_img_4_hover; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $social_img_5_hover; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $social_img_6_hover; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $social_img_7_hover; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $social_img_8_hover; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $social_img_9_hover; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $social_img_10_hover; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $social_img_11_hover; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $home_hover; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $home_location; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $home_location_hover; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $blog_hover; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $blog_location; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $blog_location_hover; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $portfolio_hover; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $portfolio_location; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $portfolio_location_hover; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $downloads_hover; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $downloads_location; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $downloads_location_hover; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $forum_hover; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $forum_location; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $forum_location_hover; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $about_hover; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $about_location; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $about_location_hover; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $resources_hover; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $resources_location; ?>" height="10" width="10" border="0" />
    <img src="<?php echo $resources_location_hover; ?>" height="10" width="10" border="0" />
</div>