<div id="sidebar">
    <div id="title">
        <span class="big">
            SEARCH THE WEBSITE
        </span>
    </div>
    <div id="spacer"></div>
    <div id="text">
        <form style="margin-bottom:  5px; padding: 0px 0px 0px 10px;" action="saucy.se/search.html" method="get">
            <input type="hidden" value="saucy.se" name="s" />
            <input onfocus="this.value=''" style="width: 150px; margin: 0px; padding: 0px; height: 16px; font-size: 11px; font-family: verdana; border: 0px none;" size="16" value="Search" name="q" />
            <input width="20" type="image" height="20" style="margin:  0px 0px -5px 0px; padding: 0px;" src="image/main/search-icon.png" />
        </form>
        Some search cloud here. (test atm)<br />
        <span class="big">Saucy</span> Website <span class="tiny">Zerg</span> Protoss <span class="huge">Terran</span> <span class="big">Saucy</span> Website <span class="tiny">Zerg</span> Protoss <span class="huge">Terran</span> <span class="big">Saucy</span> Website <span class="tiny">Zerg</span> Protoss <span class="huge">Terran</span>
    </div>
</div>