<!-- <div id="sidebar" style="margin-bottom: 100px;"> -->
<div id="sidebar" style="margin-bottom: 100px;">
    <div id="title">
        <span class="big">
            SHOUTBOX
        </span>
    </div>
    <div id="spacer"></div>
    <div id="text" style="margin-bottom: 5px; padding: 5px;">
        <div id="shoutboxtext_user"><span class="mediumbold">Saucy 1:</span></div>
        <div id="shoutboxtext_text"><span class="smallbold">TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TESTT1</span></div>
    </div>
    <div id="spacer"></div>
    <div id="text" style="background: <?php echo $light; ?>; margin: 5px 0px 10px 0px; padding: 5px;">
                    <div id="shoutboxtext_user"><span class="mediumbold" style="color: <?php echo $dark; ?>;">Saucy 2:</span></div>
                    <div id="shoutboxtext_text"><span class="smallbold" style="color: <?php echo $dark; ?>;">TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TESTT2</span></div>
    </div>
    <div id="spacer"></div>
    <div id="text" style="margin-bottom: 5px; padding: 5px;">
        <div id="shoutboxtext_user"><span class="mediumbold">Saucy 1:</span></div>
        <div id="shoutboxtext_text"><span class="smallbold">TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TESTT1</span></div>
    </div>
    <div id="spacer"></div>
    <div id="text" style="background: <?php echo $light; ?>; margin: 5px 0px 10px 0px; padding: 5px;">
                    <div id="shoutboxtext_user"><span class="mediumbold" style="color: <?php echo $dark; ?>;">Saucy 2:</span></div>
                    <div id="shoutboxtext_text"><span class="smallbold" style="color: <?php echo $dark; ?>;">TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TESTT2</span></div>
    </div>
    <div id="spacer"></div>
    <div id="text" style="margin-bottom: 5px; padding: 5px;">
        <div id="shoutboxtext_user"><span class="mediumbold">Saucy 1:</span></div>
        <div id="shoutboxtext_text"><span class="smallbold">TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TESTT1</span></div>
    </div>
    <div id="spacer"></div>
    <div id="text" style="background: <?php echo $light; ?>; margin: 5px 0px 10px 0px; padding: 5px;">
                    <div id="shoutboxtext_user"><span class="mediumbold" style="color: <?php echo $dark; ?>;">Saucy 2:</span></div>
                    <div id="shoutboxtext_text"><span class="smallbold" style="color: <?php echo $dark; ?>;">TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TESTT2</span></div>
    </div>
    <div id="spacer" style="margin-bottom: 5px;"></div>
    <div id="text">
        <input type="text" class="inputuser" value="Username: " onfocus="this.value=''"/>
        <textarea wrap="virtual" class="inputtext"></textarea>
        <div id="sidebar_smilies">
            <a href=""><span class="smallbold">Smilies</span></a>
        </div>
        <div style="float: right;"><input type="submit" class="inputsend" value="Send" /></div>
    </div>
</div>