body {
	background: #0F0F0F url(../images/body.gif);
	margin: 0px 5px 0px 5px;
    height: 100%;
	scrollbar-face-color: #212121;
	scrollbar-highlight-color: #404040;
	scrollbar-shadow-color: #000000;
	scrollbar-3dlight-color: #616161;
	scrollbar-arrow-color:  #A1A1A1;
	scrollbar-track-color: #000000;
	scrollbar-darkshadow-color: #000000;
}
.admin_orange2 {font-family: Verdana; font-size: 10px; font-weight: bold;}
.admin_orange2 {
 color: #C49400;
 text-decoration: none;
}
.text {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 10px;
 color: #D0D0D0;
 font-weight: bold;
 text-decoration: none;
}

.banner_bg {
 background-color: #0F0F0F;
 border: 1px solid #0A0A0A;
}

td.logo {
 background: #151515 url(../images/logo_mid.gif) top left repeat-x;
}

td.logo_bg {
 background: #151515 url(../images/logo_bg.gif) top left repeat-x;
 border: 1px solid #000000;
}

td.login_top {
 background: #151515 url(../images/login_top.gif) top left repeat-x;
 border: 1px solid #000000;
}
td.login_bottom {
 padding-left: 6px;
 padding-top: 6px;
 background: #151515 url(../images/login_bottom.gif) top left repeat-x;
 border-left: 1px solid #000000;
 border-right: 1px solid #000000;
 border-bottom: 1px solid #000000;
}
td.login_bottom2 {
 background: #151515 url(../images/login_bottom.gif) top left repeat-x;
 border-left: 1px solid #000000;
 border-right: 1px solid #000000;
 border-bottom: 1px solid #000000;
}

td.bg {
 background: #151515 url(../images/login_top.gif) top left repeat-x;
 border-top: 1px solid #000000;
 border-left: 1px solid #000000;
 border-right: 1px solid #000000;
}

.login_line {
 border: 1px solid #000000
}

td {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 11px;
 color: #D0D0D0;
 text-decoration: none;
}
td.login_text {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 10px;
 color: #D0D0D0;
 font-weight: bold;
 text-decoration: none;
}
.login_text {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 10px;
 color: #D0D0D0;
 font-weight: bold;
 text-decoration: none;
}
td.admin_profile {
 border-bottom: 1px solid #000000;
}

.menu,.menu2,.menu3 {font-size: 10px; color: #D0D0D0; font-weight: bold;}
.menu a {background: transparent url("../images/symbol.gif") left center no-repeat;
padding-left: 13px;
font-family: Verdana;
text-decoration: none;
color: #D0D0D0;}
.menu a:visited {background: transparent url("../images/symbol.gif") left center no-repeat;
padding-left: 13px;
font-family: Verdana;
text-decoration: none;
color: #D0D0D0;}
.menu a:hover{background: transparent url("../images/symbol_over.gif") left center no-repeat; color: #D0D0D0;}

.menu2 a {background: transparent url("../images/symbol2.gif") left center no-repeat;
padding-left: 4px;
font-family: Verdana;
text-decoration: none;
color: #D0D0D0;}
.menu2 a:visited {background: transparent url("../images/symbol2.gif") left center no-repeat;
padding-left: 4px;
padding-top: 1px;
padding-bottom: 1px;
font-family: Verdana;
text-decoration: none;
color: #D0D0D0;}
.menu2 a:hover{background: transparent url("../images/symbol2_over.gif") left center no-repeat; color: #D0D0D0;}

.menu3 a {
font-family: Verdana;
text-decoration: none;
color: #C49400;}
.menu3 a:visited {
font-family: Verdana;
text-decoration: none;
color: #C49400;}
.menu3 a:hover{ color: #D0D0D0;}


input,textarea, select {
	color: #000000;
	font: normal 10px Verdana;
}

input.mainoption {
	background-color: #151515;
	color: #D0D0D0;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 1px;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	border: solid 1px #000000;
}

input.liteoption {
	background-color: #151515;
	color: #D0D0D0;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 1px;
	font-family: Verdana;
	font-size: 10px;
	border: solid 1px #000000;
}

input.mainoption:hover, input.liteoption:hover { border-color: #D0D0D0;}
input.mainoption:focus, input.liteoption:focus { color: #FFF; border-color: #FFFFFF;}

.admin_gray,.admin_orange {font-family: Verdana; font-size: 10px; font-weight: bold;}
.admin_gray a{
 color: #D0D0D0;
 text-decoration: none;
}
.admin_gray a:visited {
 color: #D0D0D0;
 text-decoration: none;
}

.admin_orange a {
 color: #C49400;
 text-decoration: none;
}
.admin_orange a:visited {
 color: #C49400;
 text-decoration: none;
}
.admin_orange a:hover {
 color: #D0D0D0;
 text-decoration: none;
}

.copy-right {font-family: Verdana; font-size: 10px; font-weight: bold;}
.copy-right a {
 color: #D0D0D0;
 text-decoration: none;
}
.copy-right a:visited {
 color: #D0D0D0;
 text-decoration: none;
}
.copy-right a:hover {
 color: #C49400;
 text-decoration: none;
}
