body {
	background: #151515 url(../images/bg.gif);
	background-color: transparent;
	margin: 0px;
	padding: 0px;
    height: 100%;
}
.quotewrapper {
	clear: both;
	background: #C49400 url(../forum/styles/zacecs/theme/images/quote_header.gif) top left no-repeat;
	padding-left: 19px;
	border: 1px solid #151515;
}
.quotetitle, .quotecontent { font-family: Verdana; font-size: 10px; font-weight: bold; }
.quotetitle {
	padding: 2px 4px;
	border: 1px solid #151515;
	background-color: #2E2E2E;
	color: #D0D0D0;
}
.quotecontent {
	padding: 5px;
	border: 1px solid #151515;
	font-style: italic;
	background-color: #2E2E2E;
	color: #D0D0D0;
}
.quotewrapper .quotetitle {
	margin: 0;
	border-width: 0 0 1px 1px;
}
.quotewrapper .quotecontent {
	margin: 0;
	border-width: 0 0 0 1px;
}
.btnbbcode, .helpline {
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #D0D0D0;
	border: 1px solid #C49400;
	background-color: #222222;
}
.btnbbcode {
	font-size: 11px;
	border: 1px solid #444;
}
.btnbbcode:hover {
	border-color: #999;
	color: #FFF;
}

.admin_main_bg {
	background: #151515 url(../images/bg.gif) top left;
}
.admin_bg {
	background: #262626 url(../images/hem_text.gif) top left repeat-x;
	padding: 5px;
	border-top: 1px solid #3C3C3C;
	border-left: 1px solid #404040;
	border-bottom: 1px solid #131313;
	border-right: 1px solid #121212;
}
.admin_profile {
	background: #262626;
	border-top: 1px solid #151515;
	border-left: 1px solid #151515;
	border-bottom: 1px solid #151515;
}
.admin_profile_dark {
	background: #202020;
	border: 1px solid #151515;
}
.admin_profile_edit_left {
	background: #262626;
	border-top: 1px solid #151515;
	border-left: 1px solid #151515;
	padding-left: 9px;
	padding-right: 9px;
}
.admin_profile_edit_left_dark {
	background: #202020;
	border-top: 1px solid #151515;
	border-left: 1px solid #151515;
	padding-left: 9px;
	padding-right: 9px;
}
.admin_profile_edit_right {
	background: #262626;
	border-top: 1px solid #151515;
	border-left: 1px solid #151515;
	border-right: 1px solid #151515;
	padding-left: 9px;
	padding-right: 9px;
}
.admin_profile_edit_right_dark {
	background: #202020;
	border-top: 1px solid #151515;
	border-left: 1px solid #151515;
	border-right: 1px solid #151515;
	padding-left: 9px;
	padding-right: 9px;
}
.admin_profile_edit_right_bottom {
	background: #262626;
	border: 1px solid #151515;
	padding-left: 9px;
	padding-right: 9px;
}
.admin_profile_edit_right_dark_bottom {
	background: #202020;
	border: 1px solid #151515;
	padding-left: 9px;
	padding-right: 9px;
}
.admin_nyheter_add {
	background: #202020;
	border: 1px solid #151515;
}
.admin_nyheter {
	background: #262626;
	padding-left: 10px;
	border-left: 1px solid #151515;
	border-bottom: 1px solid #151515;
}
.admin_nyheter_dark {
	background: #202020;
	padding-left: 10px;
	border-left: 1px solid #151515;
	border-bottom: 1px solid #151515;
}
.admin_nyheter_date {
	background: #262626;
	border-left: 1px solid #151515;
	border-bottom: 1px solid #151515;
}
.admin_nyheter_date_dark {
	background: #202020;
	border-left: 1px solid #151515;
	border-bottom: 1px solid #151515;
}
.admin_nyheter_edit {
	background: #262626;
	border-left: 1px solid #151515;
	border-bottom: 1px solid #151515;
}
.admin_nyheter_edit_dark {
	background: #202020;
	border-left: 1px solid #151515;
	border-bottom: 1px solid #151515;
}
.admin_nyheter_remove {
	background: #262626;
	border-left: 1px solid #151515;
	border-right: 1px solid #151515;
	border-bottom: 1px solid #151515;
}
.admin_nyheter_remove_dark {
	background: #202020;
	border-left: 1px solid #151515;
	border-right: 1px solid #151515;
	border-bottom: 1px solid #151515;
}
.admin_nyheter_add_rubrik {
	background: #202020;
	border: 1px solid #151515;
	padding-left: 9px;
	padding-right: 9px;
}
.admin_nyheter_add_rubrik_text {
	background: #262626;
	border-left: 1px solid #151515;
	border-right: 1px solid #151515;
	border-bottom: 1px solid #151515;
	padding-left: 9px;
	padding-right: 9px;
}
.admin_nyheter_add_text {
	background: #202020;
	border-left: 1px solid #151515;
	border-right: 1px solid #151515;
	border-bottom: 1px solid #151515;
	padding-left: 9px;
	padding-right: 9px;
}
.admin_nyheter_add_text_text {
	background: #262626;
	border-left: 1px solid #151515;
	border-right: 1px solid #151515;
	border-bottom: 1px solid #151515;
	padding-left: 9px;
	padding-right: 9px;
}
.admin_nyheter_add_send {
	background: #202020;
	border-left: 1px solid #151515;
	border-right: 1px solid #151515;
	border-bottom: 1px solid #151515;
	padding-left: 9px;
	padding-right: 9px;
}
.admin_gray, .admin_orange, .admin_orange2, .admin_tid {font-family: Verdana; font-size: 10px; font-weight: bold;}
.admin_gray a{
 color: #D0D0D0;
 text-decoration: none;
}
.admin_gray a:visited {
 color: #D0D0D0;
 text-decoration: none;
}

.admin_orange a {
 color: #C49400;
 text-decoration: none;
}
.admin_orange a:visited {
 color: #C49400;
 text-decoration: none;
}
.admin_orange a:hover {
 color: #D0D0D0;
 text-decoration: none;
}

.admin_orange2 {
 color: #C49400;
 text-decoration: none;
}

.admin_tid {
	color: #C49400;
	text-decoration: none;
}
.main_bg {
	background: #151515 url(../images/bg.gif) top left;
}

.login_line {
	border: 1px solid #000000
}

.shout_text_rubrik {
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #C49400;
	text-decoration: underline;
}
.shoutbox_bg {
	background: #202020;
	border: 1px solid #000000;
}
.shout_msg_bg {
	padding-left: 5px;
	padding-right: 5px;
	background: #262626;
}
.shout_msg_bg2 {
	padding-left: 5px;
	padding-right: 5px;
}
.shout_msg_namn {
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #D0D0D0;
	text-decoration: none;
}
.shout_msg {
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	color: #D0D0D0;
	text-decoration: none;
}


.shout_pager {
	background: #151515;
	border-top: 1px solid #000000;
}

.shout_line {
	border: 1px solid #000000
}

.hem_rubrik {
	background: #2C2C2C url(../images/hem_rubrik.gif) top left repeat-x;
	padding-top: 4px;
	padding-left: 10px;
	padding-bottom: 5px;
	border-top: 1px solid #3C3C3C;
	border-left: 1px solid #404040;
	border-bottom: 1px solid #131313;
}
.nyheter_announce {
	background: #2C2C2C url(../images/hem_rubrik.gif) top left repeat-x;
	padding-top: 4px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	border-top: 1px solid #3C3C3C;
	border-left: 1px solid #404040;
	border-bottom: 1px solid #131313;
	border-right: 1px solid #121212;
}
.rubrik {
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #C49400;
	text-decoration: none;
}

.hem_tid {
	background: #2C2C2C url(../images/hem_rubrik.gif) top left repeat-x;
	padding-top: 4px;
	padding-right: 7px;
	padding-bottom: 5px;
	border-top: 1px solid #3C3C3C;
	border-bottom: 1px solid #131313;
	border-right: 1px solid #121212;
}
.tid {
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #D0D0D0;
	text-decoration: none;
}
.tid_info {
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #C49400;
	text-decoration: none;
}

.hem_text_bg {
	background: #262626 url(../images/hem_text.gif) top left repeat-x;
	padding-top: 11px;
	padding-left: 11px;
	padding-right: 11px;
	padding-bottom: 11px;
	border-top: 1px solid #3C3C3C;
	border-left: 1px solid #404040;
	border-bottom: 1px solid #131313;
	border-right: 1px solid #121212;
}
.hem_text {
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	color: #D0D0D0;
	text-decoration: none;
}

.hem_bild_bg {
	background: #262626 url(../images/hem_text.gif) top left repeat-x;
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	border-top: 1px solid #3C3C3C;
	border-left: 1px solid #404040;
	border-bottom: 1px solid #131313;
	border-right: 1px solid #121212;
}

.hem_bild {
	background: #262626;
	border: 1px solid #151515;
}

.hem_skriven {
	background: #262626;
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 10px;
	padding-bottom: 6px;
	border-top: 1px solid #3C3C3C;
	border-left: 1px solid #404040;
	border-bottom: 1px solid #131313;
	border-right: 1px solid #121212;
}
.skriven {
 font-family: Verdana;
 font-size: 10px;
 font-weight: bold;
 color: #D0D0D0;
 text-decoration: none;
}
.nyhetsid {
 font-family: Verdana;
 font-size: 10px;
 font-weight: bold;
 color: #C49400;
 text-decoration: none;
}
.hem_bild_profil {
	background: #262626;
	padding-bottom: 1px;
	border-top: 1px solid #3C3C3C;
	border-left: 1px solid #404040;
	border-bottom: 1px solid #131313;
	border-right: 1px solid #121212;
}
.bild_profil {
 font-family: Verdana;
 font-size: 11px;
 font-weight: bold;
 color: #C49400;
 text-decoration: underline;
}

.nyheter_skriven {
	background: #2C2C2C url(../images/hem_rubrik.gif) top left repeat-x;
	padding-top: 4px;
	padding-right: 18px;
	padding-bottom: 5px;
	border-top: 1px solid #3C3C3C;
	border-bottom: 1px solid #131313;
	border-right: 1px solid #121212;
}
.nyheter_tid {
	background: #2C2C2C url(../images/hem_rubrik.gif) top left repeat-x;
	padding-top: 4px;
	padding-right: 7px;
	padding-bottom: 5px;
	border-top: 1px solid #3C3C3C;
	border-left: 1px solid #404040;
	border-bottom: 1px solid #131313;
	border-right: 1px solid #121212;
}
.nyheter_info_nyhetsid {
	background: #262626;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 6px;
	border-left: 1px solid #404040;
	border-top: 1px solid #3C3C3C;
	border-bottom: 1px solid #131313;
}
.nyheter_info_skriven {
	background: #262626;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 6px;
	border-top: 1px solid #3C3C3C;
	border-bottom: 1px solid #131313;
	border-right: 1px solid #121212;
}

.historia_rubrik {
	background: #262626 url(../images/hem_rubrik.gif) top left repeat-x;
	padding-top: 4px;
	padding-left: 10px;
	padding-bottom: 5px;
	border-top: 1px solid #3C3C3C;
	border-left: 1px solid #404040;
	border-bottom: 1px solid #131313;
	border-right: 1px solid #121212;
}

.medlemmar_profil_bg {
	background: #262626 url(../images/hem_rubrik.gif) top left repeat-x;
	border-top: 1px solid #3C3C3C;
	border-left: 1px solid #404040;
	border-bottom: 1px solid #131313;
	border-right: 1px solid #121212;
}

.medlemmar_bg {
	background: #262626 url(../images/hem_text.gif) top left repeat-x;
	padding: 5px;
	border-top: 1px solid #3C3C3C;
	border-left: 1px solid #404040;
	border-bottom: 1px solid #131313;
	border-right: 1px solid #121212;
}
.medlemmar_bg2 {
	background: #262626 url(../images/hem_text.gif) top left repeat-x;
	border: 1px solid #151515;
}
.medlemmar_profil {
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #C49400;
	text-decoration: underline;
}
.medlemmar_info {
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #D0D0D0;
	text-decoration: underline;
}
.medlemmar_info_bg {
	background: #262626;
	padding-top: 4px;
	padding-bottom: 7px;
	border-top: 1px solid #3C3C3C;
	border-left: 1px solid #404040;
	border-bottom: 1px solid #131313;
	border-right: 1px solid #121212;
}
.medlemmar_text_citat {
 font-family: Verdana;
 font-size: 11px;
 font-weight: bold;
 color: #D0D0D0;
 text-decoration: none;
}
.medlemmar_text_citat_info {
 font-family: Verdana;
 font-size: 11px;
 font-weight: bold;
 color: #C49400;
 text-decoration: none;
}
.medlemmar_text {
 font-family: Verdana;
 font-size: 10px;
 font-weight: bold;
 color: #D0D0D0;
 text-decoration: none;
}
.medlemmar_text_historia {
 font-family: Verdana;
 font-size: 10px;
 font-weight: bold;
 color: #D0D0D0;
 text-decoration: none;
}
.medlemmar_text_info {
 font-family: Verdana;
 font-size: 10px;
 font-weight: bold;
 color: #C49400;
 text-decoration: none;
}
.medlemmar_games {
	background: #202020;
	border-bottom: 1px solid #151515;
}
td.medlemmar_games:hover {
	background: #323232;
}
.medlemmar_text_bild {
	background: #262626;
	border-right: 1px solid #151515;
	border-bottom: 1px solid #151515;
}
.medlemmar_text_left_top {
	background: #262626;
	padding-left: 10px;
}
.medlemmar_text_left_top_dark {
	background: #202020;
	padding-left: 10px;
}
.medlemmar_text_left {
	background: #262626;
	padding-left: 10px;
}
.medlemmar_text_left_dark {
	background: #202020;
	padding-left: 10px;
}
.medlemmar_text_right {
	background: #262626;
	padding-left: 10px;
	border-left: 1px solid #151515;
}
.medlemmar_text_right_dark {
	background: #202020;
	padding-left: 10px;
	border-left: 1px solid #151515;
}
.medlemmar_text_info_bg {
	background: #262626;
	border-right: 1px solid #151515;
	border-bottom: 1px solid #151515;
}
.medlemmar_text_info_bg_dark {
	background: #202020;
	border-right: 1px solid #151515;
	border-bottom: 1px solid #151515;
}

.medlemmar_text_left_middle {
	background: #262626;
	padding-left: 10px;
	border-bottom: 1px solid #151515;
}
.medlemmar_text_left_middle_dark {
	background: #202020;
	padding-left: 10px;
	border-bottom: 1px solid #151515;
}
.medlemmar_text_right_middle {
	background: #262626;
	padding-left: 10px;
	border-left: 1px solid #151515;
	border-bottom: 1px solid #151515;
}
.medlemmar_text_right_middle_dark {
	background: #202020;
	padding-left: 10px;
	border-left: 1px solid #151515;
	border-bottom: 1px solid #151515;
}

.medlemmar_text_historia_bg {
	background: #202020;
	padding-left: 10px;
	border-top: 1px solid #151515;
	border-bottom: 1px solid #151515;
}
.medlemmar_text_historia_text_bg {
	background: #262626;
	padding-top: 6px;
	padding-left: 9px;
	padding-right: 9px;
	padding-bottom: 6px;
}
.medlemmar_text_info_bg_bottom {
	background: #262626;
	border-right: 1px solid #151515;
}

.kontakta_bg {
	background: #262626;
	border-top: 1px solid #3C3C3C;
	border-left: 1px solid #404040;
	border-right: 1px solid #121212;
}
.kontakta_middle {
	background: #262626;
	padding-left: 10px;
	border-bottom: 1px solid #151515;
}
.kontakta_middle_dark {
	background: #202020;
	padding-left: 10px;
	border-bottom: 1px solid #151515;
}
.kontakta_middle_input {
	background: #262626;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 1px solid #151515;
}
.kontakta_error {
	padding-top: 10px;
	padding-left: 10px;
}
.kontakta_bottom {
	background: #262626;
}
.kontakta_bottom_dark {
	background: #202020;
}
.kontakta_text_info {
 font-family: Verdana;
 font-size: 10px;
 font-weight: bold;
 color: #C49400;
 text-decoration: none;
}
.kontakta_text {
 font-family: Verdana;
 font-size: 10px;
 font-weight: bold;
 color: #D0D0D0;
 text-decoration: none;
}

.matcher_bg {
	border-top: 1px solid #3C3C3C;
	border-left: 1px solid #404040;
	border-right: 1px solid #121212;
}
.matcher_icon_left {
	background: #262626 url(../images/hem_rubrik.gif) top left repeat-x;
	padding-top: 1px;
	border-top: 1px solid #3C3C3C;
	border-left: 1px solid #404040;
	border-bottom: 1px solid #131313;
}
.matcher_icon_right {
	background: #262626 url(../images/hem_rubrik.gif) top left repeat-x;
	padding-top: 1px;
	border-top: 1px solid #3C3C3C;
	border-bottom: 1px solid #131313;
	border-right: 1px solid #121212;
}
.matcher_icon_bg {
	background: #262626 url(../images/hem_rubrik.gif) top left repeat-x;
	border-top: 1px solid #3C3C3C;
	border-bottom: 1px solid #131313;
}
.demos_top_bg {
	background: #262626 url(../images/hem_rubrik.gif) top left repeat-x;
	border-left: 1px solid #404040;
	border-top: 1px solid #3C3C3C;
	border-bottom: 1px solid #131313;
	border-right: 1px solid #121212;
}
.matcher_opponent {
	background: #262626;
	padding-left: 10px;
	border-bottom: 1px solid #131313;
}
.matcher_opponent_dark {
	background: #202020;
	padding-left: 10px;
	border-bottom: 1px solid #131313;
}
.matcher_result {
	background: #262626;
	padding-right: 6px;
	border-bottom: 1px solid #131313;
}
.matcher_result_dark {
	background: #202020;
	padding-right: 6px;
	border-bottom: 1px solid #131313;
}
.matcher_icon {
	background: #262626;
	border-bottom: 1px solid #131313;
}
.matcher_icon_dark {
	background: #202020;
	border-bottom: 1px solid #131313;
}
.matcher_won {
 font-family: Verdana;
 font-size: 10px;
 font-weight: bold;
 color: #00D900;
 text-decoration: none;
}
.matcher_lost {
 font-family: Verdana;
 font-size: 10px;
 font-weight: bold;
 color: #D90000;
 text-decoration: none;
}
.matcher_equal {
 font-family: Verdana;
 font-size: 10px;
 font-weight: bold;
 color: #D9D9D9;
 text-decoration: none;
}
.matcher_info_bg_bild {
	background: #262626;
	border: 1px solid #151515;
}
.matcher_info_bg_left {
	background: #262626;
	padding-left: 10px;
	border-left: 1px solid #404040;
}
.matcher_info_bg_middle {
	background: #262626;
}
.matcher_info_bg_right {
	background: #262626;
	border-right: 1px solid #121212;
}
.matcher_info_bg_left_dark {
	background: #202020;
	padding-left: 10px;
	border-left: 1px solid #404040;
}
.matcher_info_bg_middle_dark {
	background: #202020;
}
.matcher_info_bg_right_dark {
	background: #202020;
	border-right: 1px solid #121212;
}
.matcher_info_bg_left_bottom {
	background: #262626;
	padding-left: 10px;
	border-left: 1px solid #404040;
	border-bottom: 1px solid #131313;
}
.matcher_info_bg_left_bottom2 {
	background: #262626;
	padding-top: 4px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 4px;
	border-left: 1px solid #404040;
	border-bottom: 1px solid #131313;
}
.matcher_info_bg_left_dark_bottom {
	background: #202020;
	padding-left: 10px;
	border-left: 1px solid #404040;
	border-bottom: 1px solid #131313;
}
.matcher_info_bg_left_dark_bottom2 {
	background: #202020;
	padding-top: 4px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 4px;
	border-left: 1px solid #404040;
	border-bottom: 1px solid #131313;
}
.matcher_info_bg_middle_bottom {
	background: #262626;
	border-bottom: 1px solid #131313;
}
.matcher_info_bg_middle_dark_bottom {
	background: #202020;
	border-bottom: 1px solid #131313;
}
.matcher_info_bg_right_bottom {
	background: #262626;
	border-bottom: 1px solid #131313;
	border-right: 1px solid #121212;
}
.matcher_info_bg_right_dark_bottom {
	background: #202020;
	border-bottom: 1px solid #131313;
	border-right: 1px solid #121212;
}
.matcher_info_bg_sammandrag {
	background: #262626;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 10px;
	border-left: 1px solid #404040;
}
.matcher_info_bg_sammandrag_dark {
	background: #202020;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 10px;
	border-left: 1px solid #404040;
}
.matcher_info_bg_sammandrag_dark2 {
	background: #202020;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 10px;
	border-bottom: 1px solid #131313;
	border-left: 1px solid #404040;
}
.matcher_text {
 font-family: Verdana;
 font-size: 10px;
 font-weight: bold;
 color: #D0D0D0;
 text-decoration: none;
}
.matcher_text_info {
 font-family: Verdana;
 font-size: 10px;
 font-weight: bold;
 color: #C49400;
 text-decoration: none;
}

.filer_bg {
	background: #262626;
	border-top: 1px solid #3C3C3C;
}
.filer_demos_icon {
	background: #262626;
	border-right: 1px solid #121212;
	border-bottom: 1px solid #121212;
}
.filer_demos_icon_dark {
	background: #202020;
	border-right: 1px solid #121212;
	border-bottom: 1px solid #121212;
}
.filer_demos_icon2 {
	background: #262626;
	border-bottom: 1px solid #121212;
}
.filer_demos_icon2_dark {
	background: #202020;
	border-bottom: 1px solid #121212;
}
.filer_demos_detaljer {
	background: #262626;
	padding-left: 7px;
	border-right: 1px solid #121212;
	border-bottom: 1px solid #121212;
}
.filer_demos_detaljer_dark {
	background: #202020;
	padding-left: 7px;
	border-right: 1px solid #121212;
	border-bottom: 1px solid #121212;
}
.filer_demos_tid {
	background: #262626;
	padding-right: 7px;
	border-right: 1px solid #121212;
	border-bottom: 1px solid #121212;
}
.filer_demos_tid_dark {
	background: #202020;
	padding-right: 7px;
	border-right: 1px solid #121212;
	border-bottom: 1px solid #121212;
}
.filer_demos_storlek {
	background: #262626;
	padding-right: 7px;
	border-right: 1px solid #121212;
	border-bottom: 1px solid #121212;
}
.filer_demos_storlek_dark {
	background: #202020;
	padding-right: 7px;
	border-right: 1px solid #121212;
	border-bottom: 1px solid #121212;
}


.line {
 border: 1px solid #000000
}

.pager_prev_bg {
	padding-left: 5px;
	padding-bottom: 1px;
}
.pager_next_bg {
	padding-right: 5px;
	padding-bottom: 1px;
}
.pager_prev,.pager_next {font-size: 10px; color: #D0D0D0; font-weight: bold;}
.pager_prev a {
	background: transparent url("../images/symbol1.gif") left center no-repeat;
	padding-left: 12px;
	font-family: Verdana;
	text-decoration: none;
	color: #D0D0D0;
}
.pager_prev a:visited {
	background: transparent url("../images/symbol1.gif") left center no-repeat;
	padding-left: 12px;
	font-family: Verdana;
	text-decoration: none;
	color: #D0D0D0;
}
.pager_prev a:hover{
	background: transparent url("../images/symbol1_over.gif") left center no-repeat;
	color: #D0D0D0;
}

.pager_next a {
	background: transparent url("../images/symbol.gif") right center no-repeat;
	padding-left: 0px;
	font-family: Verdana;
	text-decoration: none;
	color: #D0D0D0;
}
.pager_next a:visited {
	background: transparent url("../images/symbol.gif") right center no-repeat;
	padding-left: 0px;
	font-family: Verdana;
	text-decoration: none;
	color: #D0D0D0;
}
.pager_next a:hover{
	background: transparent url("../images/symbol_over.gif") right center no-repeat;
	color: #D0D0D0;
}

input,textarea, select {
	color: #262626;
	font: normal 10px Verdana;
}
input.mainoption {
	background-color: #151515;
	color: #D0D0D0;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 1px;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	border: solid 1px #000000;
}
input.liteoption {
	background-color: #151515;
	color: #D0D0D0;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 1px;
	font-family: Verdana;
	font-size: 10px;
	border: solid 1px #000000;
}
input.smiles {
	background-color: #151515;
	color: #D0D0D0;
	padding-top: 0px;
	padding-left: 11px;
	padding-right: 11px;
	padding-bottom: 1px;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	border: solid 1px #000000;
}
input.mainoption:hover, input.liteoption:hover, input.smiles:hover { border-color: #D0D0D0;}
input.mainoption:focus, input.liteoption:focus, input.smiles:focus { color: #FFFFFF; border-color: #FFFFFF;}


.profil_text {font-family: Verdana; font-size: 11px; font-weight: bold;}
.profil_text a {
 color: #C49400;
 text-decoration: none;
}
.profil_text a:visited {
 color: #C49400;
 text-decoration: none;
}
.profil_text a:hover {
 color: #D0D0D0;
 text-decoration: none;
}

.rubrik_text {font-family: Verdana; font-size: 12px; font-weight: bold;}
.rubrik_text a {
 color: #C49400;
 text-decoration: none;
}
.rubrik_text a:visited {
 color: #C49400;
 text-decoration: none;
}
.rubrik_text a:hover {
 color: #D0D0D0;
 text-decoration: none;
}

.text {font-family: Verdana; font-size: 10px; font-weight: bold;}
.text a {
 color: #C49400;
 text-decoration: none;
}
.text a:visited {
 color: #C49400;
 text-decoration: none;
}
.text a:hover {
 color: #D0D0D0;
 text-decoration: none;
}

.text_medlemmar_type {
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	color: #D0D0D0;
	text-decoration: none;
}
.text_medlemmar_info {font-family: Verdana; font-size: 10px; font-weight: bold;}
.text_medlemmar_info a {
 color: #C49400;
 text-decoration: none;
}
.text_medlemmar_info a:visited {
 color: #C49400;
 text-decoration: none;
}
.text_medlemmar_info a:hover {
 color: #D0D0D0;
 text-decoration: none;
}

.text_medlemmar {font-family: Verdana; font-size: 10px; font-weight: bold;}
.text_medlemmar a {
 color: #C49400;
 text-decoration: none;
}
.text_medlemmar a:visited {
 color: #C49400;
 text-decoration: none;
}
.text_medlemmar a:hover {
 color: #D0D0D0;
 text-decoration: none;
}


.matcher {font-family: Verdana; font-size: 10px; font-weight: bold;}
.matcher a {
 color: #D0D0D0;
 text-decoration: none;
}
.matcher a:visited {
 color: #D0D0D0;
 text-decoration: none;
}
.matcher a:hover {
 color: #C49400;
 text-decoration: none;
}

.info {font-family: Verdana; font-size: 10px; font-weight: bold;}
.info a {
 color: #D0D0D0;
 text-decoration: underline;
}
.info a:visited {
 color: #D0D0D0;
 text-decoration: underline;
}
.info a:hover {
 color: #C49400;
 text-decoration: none;
}

.config_rubrik {font-family: Verdana; font-size: 11px; font-weight: bold;}
.config_rubrik a {
 color: #C49400;
 text-decoration: none;
}
.config_rubrik a:visited {
 color: #C49400;
 text-decoration: none;
}
.config_rubrik a:hover {
 color: #D0D0D0;
 text-decoration: none;
}

.medlemmar_text_url {font-family: Verdana; font-size: 10px; font-weight: bold;}
.medlemmar_text_url a {
 color: #C49400;
 text-decoration: none;
}
.medlemmar_text_url a:visited {
 color: #C49400;
 text-decoration: none;
}
.medlemmar_text_url a:hover {
 color: #D0D0D0;
 text-decoration: none;
}

.shout_rubrik {font-family: Verdana; font-size: 10px; font-weight: bold;}
.shout_rubrik a {
 color: #C49400;
 text-decoration: underline;
}
.shout_rubrik a:visited {
 color: #C49400;
 text-decoration: underline;
}
.shout_rubrik a:hover {
 color: #D0D0D0;
 text-decoration: none;
}

.copy-right {font-family: Verdana; font-size: 10px; font-weight: bold;}
.copy-right a {
 color: #D0D0D0;
 text-decoration: none;
}
.copy-right a:visited {
 color: #D0D0D0;
 text-decoration: none;
}
.copy-right a:hover {
 color: #C49400;
 text-decoration: none;
}

.filer_config_info_bg_bottom {
	background: #262626;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 10px;
	border-left: 1px solid #404040;
	border-bottom: 1px solid #121212;
}
.filer_config_info_bg_bottom_dark {
	background: #202020;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 10px;
	border-left: 1px solid #404040;
	border-bottom: 1px solid #121212;
}

td.logo_bg {
 background: #151515 url(../images/logo_bg.gif) top left repeat-x;
 border: 1px solid #000000;
}
td.login_top {
 background: #151515 url(../images/login_top.gif) top left repeat-x;
 border: 1px solid #000000;
}
td.login_bottom {
 background: #151515 url(../images/login_bottom.gif) top left repeat-x;
 border-left: 1px solid #000000;
 border-right: 1px solid #000000;
 border-bottom: 1px solid #000000;
}
td {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 11px;
 color: #D0D0D0;
 text-decoration: none;
}

.register_bg {
 background: #151515;
 border: 1px solid #000000;
}
.register_line {
 border: 1px solid #000000
}
td.logo_bg2 {
	background: #262626;
	border: 1px solid #151515;
}

.admin_gray, a.admin_orange, .admin_tid {font-family: Verdana; font-size: 10px; font-weight: bold;}
.admin_gray {
 color: #D0D0D0;
 text-decoration: none;
}
.admin_gray {
 color: #D0D0D0;
 text-decoration: none;
}
.admin_gray {
 color: #D0D0D0;
 text-decoration: none;
}
a.admin_orange {
 color: #C49400;
 text-decoration: none;
}
a:visited.admin_orange {
 color: #C49400;
 text-decoration: none;
}
a:hover.admin_orange {
 color: #D0D0D0;
 text-decoration: none;
}
.admin_tid {
  color: #C49400;
  text-decoration: none;
}
