<div id="sidebar">
    <div id="text">
        <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fapps%2Fapplication.php%3Fid%3D121266647927714&amp;layout=standard&amp;show_faces=false&amp;width=192&amp;action=like&amp;font=tahoma&amp;colorscheme=light&amp;height=40" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:192px; height:40px;" allowTransparency="true"></iframe>
    </div>
</div>