<div id="sidebar">
    <div id="title">
        <span class="big">
            Annonsörer
        </span>
    </div>
    <div id="spacer"></div>
    <div id="text">
        Kommer uppdateras snart..<br />
    </div>
</div>