body {
	background-color: black;
	margin-top: 15px;
	color: gray;
	scrollbar-face-color: #000000;
	scrollbar-highlight-color: #ffffff;
	scrollbar-shadow-color: gray;
	scrollbar-3dlight-color: #000000;
	scrollbar-arrow-color: #FFFFFF;
	scrollbar-track-color: #000000;
	scrollbar-darkshadow-color: #000000;
}

a:link { text-decoration: underline; color: #999999}
a:visited { text-decoration: none; color: #5F5F5F}
a:active { text-decoration: none; color: #CCCCCC}
a:hover {text-decoration: overline; color: #000000; background-color: #CCCCCC}

p.padding {
	padding-top: 10px;
	padding-left: 20px;
}
p.font {
	font-family: verdana;
	font-size: 9px;
}
p.font2 {
	font-family: verdana;
	font-size: 9px;
	color: #333333;
}
.border-header {
	border-top-style: solid;
	border-top-color: #333333;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333333;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-color: #333333;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-color: #333333;
	border-left-width: 1px;
}
.border-nav {
	border-top-style: none;
	border-bottom-style: solid;
	border-bottom-color: #333333;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-color: #333333;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-color: #333333;
	border-left-width: 1px;
}
.border-menu {
	border-top-style: none;
	border-bottom-style: solid;
	border-bottom-color: #333333;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-color: #333333;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-color: #333333;
	border-left-width: 1px;
}
.border-main {
	border-top-style: none;
	border-bottom-style: solid;
	border-bottom-color: #333333;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-color: #333333;
	border-right-width: 1px;
	border-left-style: none;
}
