body {
margin-top: 0px;
background-color: #EFEFEF;
}

a:link {text-decoration: none; color: #000000}
a:visited {font-style: italic; text-decoration: none; color: #000000}
a:active { text-decoration: none; color: #CC3333}
a:hover { color: #F0C01B}


font {
color: #999999;
font-family: Verdana; font-size: 9px;
}

.font-content {
background-color: #FAFAFA;
padding: 10px;
border-left: 1px solid #CCCCCC;
border-right: 1px solid #CCCCCC;
border-bottom: 1px solid #CCCCCC;
}

.margin-content {
margin-top: 10px;
}
