			<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td width="16" height="31"></td>
				<td width="88" height="31" valign="middle" align="center" class="banner_bg">
					<a href="http://www.disney-clan.se/" title="Disney - Counterstrike Source Clan Since 2005" target="_blank"><img src="images/banners/DISNEY_banner.jpg" width="88" height="31" alt="" border="0"></a>
				</td>
			<td width="16" height="31"></td></tr>
			<tr><td height="5" colspan="3"></td></tr>
			<tr>
				<td width="16" height="31"></td>
				<td width="88" height="31" valign="middle" align="center" class="banner_bg">
					<a href="http://www.r60.org/" title="r60.org" target="_blank"><img src="images/banners/r60_banner.jpg" width="88" height="31" alt="" border="0"></a>
				</td>
				<td width="16" height="31"></td>
			</tr>
			<tr><td height="5" colspan="3"></td></tr>
			<tr>
				<td width="16" height="31"></td>
				<td width="88" height="31" valign="middle" align="center" class="banner_bg">
					<a href="http://www.fv.clan.pro/" title="" target="_blank"><img src="images/banners/fv_banner.jpg" width="88" height="31" alt="" border="0"></a></td>
				</td>
				<td width="16" height="31"></td>
			</tr>
			<tr><td height="5" colspan="3"></td></tr>
			<tr>
				<td width="16" height="31"></td>
				<td width="88" height="31" valign="middle" align="center" class="banner_bg">
					<a href="http://www.jalba.se/headz/" title="HeadZ - A CS:S, COD4, Q3 & WC3 clan" target="_blank"><img src="images/banners/HeadZ_banner.gif" width="88" height="31" alt="" border="0"></a>
				</td>
				<td width="16" height="31"></td>
			</tr>
			<tr><td height="5" colspan="3"></td></tr>
			<tr>
				<td width="16" height="31"></td>
				<td width="88" height="31" valign="middle" align="center" class="banner_bg">&nbsp;</td>
				<td width="16" height="31"></td>
			</tr>
			<tr><td height="5" colspan="3"></td></tr>
			<tr>
				<td width="16" height="31"></td>
				<td width="88" height="31" valign="middle" align="center" class="banner_bg">&nbsp;</td>
				<td width="16" height="31"></td>
			</tr>
			<tr><td height="5" colspan="3"></td></tr>
			<tr>
				<td width="16" height="31"></td>
				<td width="88" height="31" valign="middle" align="center" class="banner_bg">&nbsp;</td>
				<td width="16" height="31"></td>
			</tr>
			<tr><td height="5" colspan="3"></td></tr>
			<tr>
				<td width="16" height="31"></td>
				<td width="88" height="31" valign="middle" align="center" class="banner_bg">&nbsp;</td>
				<td width="16" height="31"></td>
			</tr>
			<tr><td height="5" colspan="3"></td></tr>
			<tr><td height="5" colspan="3"></td></tr>
			</table>
