			<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr><td height="12"></td></tr>
			<tr><td rowspan="16" width="7">
			</td><td height="13">
				<span class="menu2"><a href="hem.php" target="main">Hem</a></span><br>
			</td></tr>
			<tr><td height="7"></td></tr>
			<tr><td height="13">
				<span class="menu2"><a href="nyheter.php" target="main">Nyheter</a></span><br>
			</td></tr>
			<tr><td height="7"></td></tr>
			<tr><td height="13">
				<span class="menu2"><a href="medlemmar.php" target="main">Medlemmar</a></span><br>
			</td></tr>
			<tr><td height="7"></td></tr>
			<tr><td height="13">
				<span class="menu2"><a href="matcher.php" target="main">Matcher</a></span><br>
			</td></tr>
			<tr><td height="7"></td></tr>
			<tr><td height="13">
				<span class="menu2"><a href="filer.php" target="main">Filer</a></span><br>
			</td></tr>
			<tr><td height="7"></td></tr>
			<tr><td height="13">
				<span class="menu2"><a href="forum/" target="_self">Forum</a></span><br>
			</td></tr>
			<tr><td height="7"></td></tr>
			<tr><td height="13">
				<span class="menu2"><a href="kontakta.php" target="main">Kontakta oss</a></span><br>
			</td></tr>
			<tr><td height="7"></td></tr>
			<tr><td height="13">
				<span class="menu2"><a href="historia.php" target="main">Historia</a></span><br>
			</td></tr>
			</table>
