body {
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
margin-bottom: 0px;
background-color: #855922;
}

font {
color: #000000;
font-family: Verdana; font-size: 9px;
}

#box {
padding: 5px;
height: 336px;
width: 340px;
overflow: auto;
}
