body {
background-image: url(../images/BG.gif);
background-repeat: repeat-x;
}

font {
font-family: Trebuchet MS; font-size: 11px; color: #555555;
}

a:link { text-decoration: underline; color: #CC0000}
a:active { text-decoration: none; color: #CC0000}
a:visited { text-decoration: underline; color: #990000}
a:hover { text-decoration: none}
