body {background-color: D3D3D3;	color: black; margin-top: 0px; margin-bottom: 0px;}

.border-banner {border-top: 1px solid #C2C2C2; border-left: 1px solid #C2C2C2; border-right: 1px solid #C2C2C2;}
.border-nav {border-left: 1px solid #C2C2C2; border-right: 1px solid #C2C2C2;}
.border-nav-2 {border-top: 1px solid #C2C2C2; border-left: 1px solid #C2C2C2;}
.border-main {border-top: 1px solid #C2C2C2; border-left: 1px solid #C2C2C2; border-right: 1px solid #C2C2C2;}
.border-copy-right {border-top: 1px solid #C2C2C2; border-left: 1px solid #C2C2C2; border-bottom: 1px solid #C2C2C2;}
.border-visit {border: 1px solid #C2C2C2;}

p.font {font-family: verdana;font-size: 9px;}
p.padding {font verdana 9px; padding-top: 0px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px;}

#box {height: 100%; width: 100%; overflow: auto;}
#box2 {height: 100%; width: 100%; overflow: auto;}

a{text-decoration: outline;}
a:link{color: #000000;}
a:visited{color: #000000;}
a:hover{color: #000000;}

#menycontainer {border-top: 1px solid #C2C2C2; z-index: 1; position: relative;}
#menycontainer ul{font: 70% Verdana, Helvetica, sans-serif; margin-top: -0.7em; z-index: 2; position: relative;}
#menycontainer li{display: inline; list-style: none;}
#menycontainer li a{text-decoration: none; padding: 0.3em 2em; margin-right: 20px;  background: #E7E7E7; border: 1px solid #C2C2C2;}
#menycontainer a:link{color: #000000;}
#menycontainer a:visited{color: #000000;}
#menycontainer a:hover{border: 1px solid #C2C2C2;}
#menycontainer a#current{background: #C2C2C2; border: 1px solid #000000; color: #ffffff;}
