body {
color: #343636;
background-image: url(../images/BG.gif);
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
margin-bottom:à0px;
}
.rubrik {font-family: Trebuchet MS; font-size: 11px; color: #343636;}
.text {font-family: Trebuchet MS; font-size: 11px; color: #343636;}
.won {font-family: Trebuchet MS; font-size: 11px; color: #006600;}
.lost {font-family: Trebuchet MS; font-size: 11px; color: #ff0000;}


a:link { text-decoration: underline; color: #7C0000;}
a:active { text-decoration: none; color: #7C0000}
a:visited { text-decoration: underline; color: #7C0000;}
a:hover { text-decoration: none; color: #9E0000}
