<div class="header">
  <h1 class="text-center" ng-bind="wip.header"></h1>
</div>

<hr>

<div class="row marketing">
  <div ng-repeat="description in wip.descriptions">
    <p ng-bind-html="description | markdown"></p>
  </div>
  <hr>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default" ng-repeat="val in website.versions | orderBy:'date':true" ng-class="{lastItem: !$last}" style="cursor: pointer;">
      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ $index }}">
        <h4 class="panel-title" ng-bind="val.name + ' | ' + val.date"></h4>
      </div>
      <div id="collapse-{{ $index }}" class="panel-collapse collapse">
        <div class="panel-body">
          <a class="btn btn-default btn-block" href="{{ val.url }}">Demo</a>
          <a class="btn btn-primary btn-block" href="{{ val.github }}">Source code</a>
          <hr>
          <a class="btn btn-default btn-block" href="{{ val.placeholder.url }}">Placeholder: Demo</a>
          <a class="btn btn-primary btn-block" href="{{ val.placeholder.github }}">Placeholder: Source code</a>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="footer">
  <p class="text-center" ng-bind="wip.footer"></p>
</div>
